[project]
	description = 2nd test with git, especially for the graph and branches
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Klaus Kleiner (KlausKleiner)
[access "refs/for/refs/*"]
	read = group user/Klaus Kleiner (KlausKleiner)
	push = group user/Klaus Kleiner (KlausKleiner)
	label-Code-Review = -2..+2 group user/Klaus Kleiner (KlausKleiner)
	label-Verified = -1..+1 group user/Klaus Kleiner (KlausKleiner)
	rebase = group user/Klaus Kleiner (KlausKleiner)
	removeReviewer = group user/Klaus Kleiner (KlausKleiner)
	submit = group user/Klaus Kleiner (KlausKleiner)
[access "refs/heads/*"]
	read = group user/Klaus Kleiner (KlausKleiner)
	create = group user/Klaus Kleiner (KlausKleiner)
	push = +force group user/Klaus Kleiner (KlausKleiner)
	pushMerge = group user/Klaus Kleiner (KlausKleiner)
[access "refs/tags/*"]
	push = group user/Klaus Kleiner (KlausKleiner)
	push = +force group user/Klaus Kleiner (KlausKleiner)
